@model IEnumerable<GymApplication.SFDC.Client__c>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First_Name__c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Name__c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email__c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone_Number__c)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.First_Name__c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_Name__c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email__c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_Number__c)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
